
body{
	background: linear-gradient(270deg, #ee4073, #fec883);
	background-size: 400% 400%;
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
	-webkit-animation: GradientAnimation 15s ease infinite;
	-moz-animation: GradientAnimation 15s ease infinite;
	animation: GradientAnimation 15s ease infinite;
	overflow: hidden;
}
.holder {
    width: 1px;
    height: 1px;
    z-index: 0;
}
.container{
	width: 100vh;
	height: 100vh;
	display: table;
}
.row{
	display: table-cell;
	width: 100%;
	height: 100%;
}
.center{
	vertical-align: middle;
}
.ripple1, .ripple2, .ripple3{
	position: absolute;
	left: 50vw;
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #00ffff 0%, rgba(0, 0, 255, 0) 50%, #0000ff 95%);
	background-position: center center;
	-webkit-animation: radar 5s ease infinite;
	-moz-animation: radar 5s ease infinite;
	animation: radar 5s ease infinite;
	-webkit-border-radius: 100%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 100%;
	-moz-background-clip: padding;
	border-radius: 100%;
	background-clip: padding-box;
}
.ripple2{
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.ripple3{
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
@-webkit-keyframes GradientAnimation{
	0%{
		background-position: 0% 48%;
	}
	50%{
		background-position: 100% 53%;
	}
	100%{
		background-position: 0% 48%;
	}
}
@-moz-keyframes GradientAnimation{
	0% {
    background-position: 0% 48%;
  	}
  	50% {
    	background-position: 100% 53%;
  	}
 	100% {
    	background-position: 0% 48%;
  	}
}
@keyframes GradientAnimation{
	0% {
    	background-position: 0% 48%;
  	}
  	50% {
    	background-position: 100% 53%;
  	}
  	100% {
    	background-position: 0% 48%;
  	}
}

@keyframes radar{
	1%{
		width: 0vh;
		height: 0vh;
		margin-left: 0vh;
		margin-top: 0vh;
	}
	100%{
		width: 200vh;
		height: 200vh;
		margin-left: -100vh;
		margin-top: -100vh;
	}
}
@-webkit-keyframes radar{
	1% {
    	width: 0vw;
    	height: 0vw;
    	margin-left: 0vw;
    	margin-top: 0vw;
  	}
  	100% {
    	width: 200vw;
    	height: 200vw;
    	margin-left: -100vw;
    	margin-top: -100vw;
  	}
}